*{
    margin: 0;
}

/* Shared styles */
.btn{
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #1e8649;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #075f2b;
}





/* navbar section css */
#navbar-container-id{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
}
#navbar-container-id ul{
    display: flex;
    gap: 32px;
}
#navbar-container-id ul li{
    list-style: none;
}
#navbar-container-id ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



/* hero section css */
#hero-section-main-container{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 160px;
    
}
.hero-text-container-withoutBG{
    max-width: 776px;
    margin: 0 auto;
    text-align: center;
}
.early-access-p{
    background-color: white;
    color: #30B868;
    padding: 8px;
    width: 200px;
    border-radius: 20px;
}
.white-h1{
    color: white;
    font-size: 65px;
    margin-top: 20px;
}
.colored-h1{
    color: #30B868;
    font-size: 65px;
    margin-bottom: 20px;
}
.hero-text-p{
    color: white;
    margin-bottom: 30px;
}
.btn-different{
    margin-left: 10px;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #30B868;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn-different:hover{
    background-color: #075f2b;
}