*{
    margin: 0;
}

/* Shared styles */
.btn{
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #1e8649;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #075f2b;
}





/* navbar section css */
#navbar-container-id{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
}
#navbar-container-id ul{
    display: flex;
    gap: 32px;
}
#navbar-container-id ul li{
    list-style: none;
}
#navbar-container-id ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



/* hero section css */
#hero-section-main-container{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 160px;
    
}
.hero-text-container-withoutBG{
    max-width: 776px;
    margin: 0 auto;
    text-align: center;
}
.early-access-p{
    background-color: white;
    color: #30B868;
    padding: 8px;
    width: 200px;
    border-radius: 20px;
}
.white-h1{
    color: white;
    font-size: 65px;
    margin-top: 20px;
}
.colored-h1{
    color: #30B868;
    font-size: 65px;
    margin-bottom: 20px;
}
.hero-text-p{
    color: white;
    margin-bottom: 30px;
}
.btn-different{
    margin-left: 10px;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #30B868;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn-different:hover{
    background-color: #075f2b;
}



/* notes section css */
#notes-section-container{
    text-align: center;
}
.notes-title{
    margin: 100px 0 50px 0;
}
.notes-title h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.notes-title p{
    font-size: 18px;
    color: #474747;
}
.notes-card-container{
    display: flex;
    align-items: center;
    max-width: 90%;
    gap: 50px;
    margin: 0 auto;
}
.notes-card i{
    color: #fff;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    background-color: #F95555;
}
.notes-card h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.notes-card p{
    color: #474747;
}



/* solution area css */
#solution-section-container-id{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 1360px;
    margin: 0 auto;
    gap: 160px;
    margin-top: 130px;
}
.solution-section-text-container h4{
    color: #474747;
    margin-bottom: 20px;
}
.solution-section-text-container h1{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
}
.solution-section-text-container p{
    color: #474747;
    margin-bottom: 20px;
}
.feature-area-container{

}
.feature-text{
    display: flex;
    gap: 5px;
    /* align-items: center; */
}
.feature-text i{
    color: green;
}
.feature-text p{
    color: black;
    font-size: 18px;
}